body{
  margin=0;
}
a {
  text-decoration:none; color:black;
  }
h1{
  text-align: center;
  font-size: 70px
}

h5 {
  text-align: center;
  font-size: 20px;
}
div{
  color:gray;
  padding-left:20px;
}
#grid{
  display:grid;
  grid-template-columns:220px 1fr;
  border-top:1px solid gray;
  padding-left:0;
}
#grid ol{
  border-right:1px solid gray;
  margin-top:0;
  padding-left:20;
}
@media(max-width:800px){
  #grid{
    display:block;
    border-top:none;
  }
  #grid ol{
      border-right:none;
    }
  h5 {
      text-align: left;
      padding-left: 20px;
  }
